@media(min-width:1024px){
    #main{
        display:flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin:12px 48px;
    }
}
aside img{
    max-width:200px !important;
}
#main{
    margin:12px unset;
}
body>h1{
    margin:0 48px;
}